@use '../abstracts/' as *;

header {
    background-color: $body-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    &.shrink {
        box-shadow: $box-shadow;

        .header {
            height: $header-shrink-height;
        }
    }
}

.header {
    @include flex(center, space-between);
    transition: height .3s ease;
    height: $header-height;

    &__logo {
        font-size: xx-large;
        font-weight: 700;
    }

    &__right {
        @include flex(center, flex-end);

        .nav {
            @include flex(center, flex-end);

            li ~ li {
                margin-left: 40px;
            }

            li {
                text-transform: uppercase;
                font-weight: 500;
            }

            a:hover {
                color: $main-color;
            }

            @include mobile {
                @include flex(flex-start, flex-start);
                position: absolute;
                left: -100%;
                top: 0;
                background-color: $body-bg;
                height: 100vh;
                width: 80%;
                flex-direction: column;
                padding-left: 30px;
                padding-top: 30px;
                box-shadow: $box-shadow;
                transition: left .3s ease;

                li ~ li {
                    margin-left: 0;
                }

                &.active {
                    left: 0;
                }
            }
        }

        .user-menu {
            @include flex(center, flex-end);
            margin-left: 3rem;

            * ~ * {
                margin-left: 10px;
            }

            * {
                cursor: pointer;
            }

            *:hover {
                color: $main-color;
            }

            i {
                font-size: 1.5rem
            }

            .menu-toggle {
                @include flex(center, center);
                display: none;

                @include mobile {
                    display: flex;
                }
            }
        }
    }
}