$body-bg: #fff;
$second-bg: #f8f6f7;
$main-color: #ce0900;
$main-color-hover: #de3700;
$txt-color: #000;
$txt-second-color: #757474;
$white: #fff;

$header-height: 106px;
$header-shrink-height: 74px;

$mobile-width: 600px;
$tablet-width: 1024px;

$border-radius: 20px;

$font-family: 'Poppins', sans-serif;

$box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
$bg-overlay: rgba(0,0,0,0.5);